@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(22, 22, 29);
}
.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.main .text {
  position: absolute;
  left: 10%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  z-index: 100;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.main h1 {
  font-size: 200px;
  letter-spacing: 20px;
  color: white;
}
.main p {
  font-size: 20px;
  width: 80%;
  color: white;
}
.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main div {
  border-radius: 20px;
  width: 1000px;
  height: 800px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  position: absolute;
  right: 0;
}
.main div img {
  overflow: hidden;
  opacity: 0.7;
  scale: 1;
}
@media screen and (max-width: 1000px) and (min-width: 600px) {
  .text h1 {
    font-size: 100px;
    letter-spacing: 10px;
  }
  .main div {
    border-radius: 20px;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    position: absolute;
    right: 0;
  }
}
@media screen and (max-width: 600px) {
  .text h1 {
    font-size: 50px;
    letter-spacing: 5px;
  }
  .main div {
    border-radius: 20px;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    position: absolute;
    right: 0;
  }
}
.loader {
  z-index: 999999;
  color: white;
  display: flex;
  position: fixed;
  gap: 10px;
  font-family: "Poppins";
  font-size: 100px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgb(22, 22, 29);
  align-items: center;
  justify-content: center;
}
